@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #404040cc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

.mini-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.mini-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.mini-scrollbar::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}

.mini-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

.mini-horizontal-scroll::-webkit-scrollbar {
  height: 6px;
}

.mini-horizontal-scroll::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.mini-horizontal-scroll::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}

.mini-horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: #525252;
}
